#Banner {
    display: flex;
    justify-content: center;
    width: 100%;

    .banner-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;

        .new-text {
            padding: 5px;
            border-radius: 12px;
            background-color: red;
            font-weight: bold;
            color: white;
        }

        .price-text {
            margin: 0 20px;
            font-size: 20px;
        }

        .detail-text {
            font-size: 22px;
            color: rgb(143, 143, 211);
        }
    }
}